/* Font Dependancies */
@font-face {
  font-family: "Playlist";
  src: url("../fonts/Playlist_Script.otf") format("truetype");
}

/* Navbar */
.nav-item {
    margin-right: 45px;
  }
  
  .navbar-nav {
    width: 100%;
  }
  
  .navbar-nav a:hover {
    border-bottom: 11px solid #2e7d39;
  }
  
  .bannerImage {
    width: 100%;
  }
  
  .nav-link {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    font-weight: 600;
  }
  
  #aboutMe {
    font-size: 0.9375rem;
  }
  
  @media screen and (max-width: 991px) {
    .dropdown-item {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 493px) {
    .navbar-nav {
      width: 116%;
    }
  }

/* Banner */
.reUse {
  background-color: #2e7d39;
}

.bannerTextReUse {
  font-family: "Playlist";
  color: white;
  font-size: 120px;
  text-align: center;
  padding-left: 4rem;
}

@media screen and (max-width: 600px) {
  .bannerTextReUse {
    font-family: "Playlist";
    color: white;
    font-size: 50px;
    text-align: center;
    padding-left: 3.1rem;
  }
}

/* List of results 1 */
ul {
  list-style-type: none;
}

#listContainer {
  margin-top: 1em;
  margin-bottom: 4em;
}

/* List of Images, result 1 */
.fruitsCollection {
  height: 176px;
  width: 176px;
  border-radius: 100%;
  border: tomato 5px solid;
}


/* Reverse the row on these items */
#Avocado {
  flex-direction: row-reverse;
}

#Beets {
  flex-direction: row-reverse;
}

#Blueberry {
  flex-direction: row-reverse;
}

#Carrot {
  flex-direction: row-reverse;
}

#Grape {
  flex-direction: row-reverse;
}
#Kale {
  flex-direction: row-reverse;
}
#Orange {
  flex-direction: row-reverse;
}
#Peach {
  flex-direction: row-reverse;
}
#Plum {
  flex-direction: row-reverse;
}
#Raspberry {
  flex-direction: row-reverse;
}
#Strawberry {
  flex-direction: row-reverse;
}

/* Fruits Title */
#name1 {
  padding-left: 55px;
}

#name3 {
  padding-left: 44px;
}

#name4 {
  padding-left: 55px;
}

#name5 {
  padding-left: 33px;
}

#name6 {
  padding-left: 0px;
}

#name7 {
  padding-left: 32px;
}

#name9 {
  padding-left: 55px;
}
/* Fruit Text */
.fruitsText {
  font-family: "Playlist";
  font-size: 75px;
}

.fruitsDescription {
  white-space: unset;
  font-family: "Poppins Regular", sans-serif;
  font-size: 22.5px;
}

.colBottom2 {
  border-bottom: 0.35px solid black;
  height: 176px;
  padding-top: 35px;
  padding-left: 0px;
}

.colBottom {
  border-bottom: 0.35px solid black;
  height: 176px;
  padding-top: 25px;
}

/* Fruits Read More a tag style */
#fruit1 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: .5px;
  padding-left: 80px;
  margin-left: -15px;
  padding-right: 5px;
}

#fruit2 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: .5px;
  padding-left: 0px;
  margin-left: 181px;
  padding-right: 75px;
  margin-right: -16px;
}

#fruit3 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: .5px;
  padding-left: 80px;
  margin-left: -15px;
  padding-right: 5px;
}

#desc3 {
  padding-top: 10px;
}

#fruit4 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: .5px;
  padding-left: 0px;
  margin-left: 181px;
  padding-right: 75px;
  margin-right: -16px;
}

#desc4 {
  padding-left: 83px;
}


#fruit5 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: .5px;
  padding-left: 80px;
  margin-left: -15px;
  padding-right: 5px;
}

#desc5 {
  padding-left: 94px;
}

#fruit6 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: .5px;
  padding-left: 0px;
  margin-left: 181px;
  padding-right: 75px;
  margin-right: -16px;
}

#fruit7 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: .5px;
  padding-left: 80px;
  margin-left: -15px;
  padding-right: 5px;
}

#desc7 {
  padding-left: 83px;
  padding-top: 30px;
}

#fruit8 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: .5px;
  padding-left: 0px;
  margin-left: 181px;
  padding-right: 75px;
  margin-right: -16px;
}

#desc8 {
  padding-left: 53px;
  padding-top: 20px;
}

#fruit9 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: .5px;
  padding-left: 80px;
  margin-left: -15px;
  padding-right: 5px;
}

/* List of result 2 */
#listContainer2 {
  margin-top: 1em;
  margin-bottom: 4em;
}
#fruit10 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: -15px;
  padding-right: 75px;
  margin-right: -16px;
}

#desc10 {
  padding-left: 52px;
}

#fruit11 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: 177px;
  padding-right: 75px;
  margin-right: -16px;
}

#desc11 {
  padding-left: 15px;
}

#fruit12 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: -15px;
  padding-right: 75px;
  margin-right: -16px;
}

#desc12 {
  padding-left: 50px;
  padding-top: 15px;
}

#fruit13 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: 177px;
  padding-right: 75px;
  margin-right: -16px;
}

#desc13 {
  padding-left: 15px;
}

#fruit14 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: -15px;
  padding-right: 75px;
  margin-right: -16px;
}

#fruit15 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: 177px;
  padding-right: 75px;
  margin-right: -16px;
}

#fruit16 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: -15px;
  padding-right: 75px;
  margin-right: -16px;
}

#fruit17 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: 177px;
  padding-right: 75px;
  margin-right: -16px;
}

#desc17 {
  padding-left: 65px;
}

#fruit18 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: -15px;
  padding-right: 75px;
  margin-right: -16px;
}

#desc18 {
  padding-left: 30px;
}

/* List of results 3 */
#listContainer3 {
  margin-top: 1em;
  margin-bottom: 4em;
}

#fruit19 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: -15px;
  padding-right: 75px;
}

#desc19 {
  padding-left: 45px;
}

#fruit20 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: 177px;
  padding-right: 75px;
  margin-right: -16px;
}

#fruit21 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: -15px;
  padding-right: 75px;
}

#desc21 {
  padding-left: 78px;
  padding-top: 5px;
}

#fruit22 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: 177px;
  padding-right: 75px;
  margin-right: -16px;
}

#name22 {
  right: 10px;
}

#fruit23 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: -15px;
  padding-right: 75px;
}

#fruit24 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: 177px;
  padding-right: 75px;
  margin-right: -16px;
}

#name24 {
  right: 45px;
}

#desc24 {
  right: 32px;
}

#fruit25 {
  font-family: "Poppins";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.35px solid black;
  padding-bottom: 0.5px;
  padding-left: 0px;
  margin-left: -15px;
  padding-right: 75px;
}

#desc25 {
  padding-left: 55px;
}

/* Footer */
.page-footer {
    border-top: 2px solid #2e7d39;
  }
  .footerHeader {
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    /* font-size: 18px; */
    line-height: 27px;
    text-align: center;
  }
  
  .footerHeader {
    margin-top: -13px;
  }
  
  .t1 {
    font-family: "Poppins", sans-serif;
  }
  
  #contact {
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #2e7d39;
  }
  
  .btn-floating {
    font-size: 45px;
    color: #2e7d39;
  }
  
  a:not([href]) {
    color: #2e7d39;
  }
  
  .info {
    border-right: 2px solid black;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
  }
  
  .address {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  
  .subBtn {
    background-color: #2e7d39;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
    z-index: 99;
  }
  
  .footerInput {
    border-radius: 2rem;
  }

  /* Media Querries */
  @media screen and (max-width: 600px) {
    .fruitsCollection {
      height: 176px;
      width: 176px;
      border-radius: 100%;
      border: tomato 5px solid;
    }
  }
  