/* Font Dependancies */
@font-face {
  font-family: "Playlist";
  src: url("../fonts/Playlist_Script.otf") format("truetype");
}

/* Navbar */
.nav-item {
    margin-right: 45px;
  }
  
  .navbar-nav {
    width: 100%;
  }
  
  .navbar-nav a:hover {
    border-bottom: 11px solid #2e7d39;
  }
  
  .bannerImage {
    width: 100%;
  }
  
  .nav-link {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    font-weight: 600;
  }
  
  #aboutMe {
    font-size: 1rem;
    white-space: nowrap;
  }
  
  #online-store {
    white-space: nowrap;
  }

  @media screen and (max-width: 991px) {
    .dropdown-item {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 493px) {
    .navbar-nav {
      width: 116%;
    }
  }

/* Banner */
.reUse {
  background-color: #ff9c32;
}

.bannerTextReUse {
  font-family: "Playlist";
  color: white;
  font-size: 120px;
  text-align: center;
  padding-left: 4rem;
}

@media screen and (max-width: 600px) {
  .bannerTextReUse {
    font-family: "Playlist";
    color: white;
    font-size: 50px;
    text-align: center;
    padding-left: 3.1rem;
  }
}

/* Button Row */
.menuBtn {
  max-height: 115px;
  max-width: 171px;
  height: 100%;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  color: #FFFFFF;
}

#rowMenuBtn {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 320px) and (min-width: 150px) {
  .menuBtn {
      max-height: 115px;
      max-width: 288px;
      height: 100%;
      width: 100%;
      font-family: 'Bebas Neue', cursive;
      color: #FFFFFF;
      font-size: 14px !important;
  }

  #rowMenuBtn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

}


@media only screen and (max-width: 374px) and (min-width: 321px) {
  .menuBtn {
      max-height: 115px;
      max-width: 288px;
      height: 100%;
      width: 100%;
      font-family: 'Bebas Neue', cursive;
      color: #FFFFFF;
      font-size: 14px !important;
  }

  #rowMenuBtn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 20px;
  }

}

@media only screen and (max-width: 410px) and (min-width: 375px) {
  .menuBtn {
    max-height: 115px;
    max-width: 288px;
    height: 100%;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
    font-size: 14px !important;
  }

  #rowMenuBtn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 30px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 411px) {
  .menuBtn {
    max-height: 115px;
    max-width: 288px;
    height: 100%;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
    font-size: 14px !important;
  }

  #rowMenuBtn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 49px;
  }
}


@media screen and (max-width: 1180px) and (min-width: 601px) {
  .menuBtn {
      max-height: 115px;
      max-width: 171px;
      height: 100%;
      width: 100%;
      font-family: 'Bebas Neue', cursive;
      color: #FFFFFF;
      font-size: 15px !important;
  }

  #rowMenuBtn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/* Menu Image */
#menuRowImg {
  margin-bottom: 3em;
}

#menuImg {
  width: 100%;
}

/* Page Utility */
#pageUtility {
  margin-bottom: 1.5em;
}

.btnCircle {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  /* border: 1px solid red; */
  background-color: #2e7d39;
}

.btnCircleM {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #2e7d39;
}

.icons {
  color: #FFFFFF;
}

#facebook {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #3b5998;
}

#twitter {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #00acee;
}

#pininterest {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #c8232c;
}

#instagram {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #3f729b;
}

#mail {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: darkgray;
}

#pageUtils {
  margin-right: 80px;
}

@media only screen and (max-width: 600px) {
  #pageUtils {
    padding-left: 140px;
  }
  #pageUtils > ul {
    width: 260px;
    height: auto;
  }
  .btnCircle {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    /* border: 1px solid red; */
    background-color: #2e7d39;
  }
  .icons {
    color: #FFFFFF;
  }
  .icons:nth-child(3) {
    margin-left: -3px;
  }
}

@media screen and (max-width: 1180px) and (min-width: 601px) {
  #pageUtils {
    padding-left: 140px;
  }
  #pageUtils > ul {
    width: 260px;
    height: auto;
  }
  .btnCircle {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    /* border: 1px solid red; */
    background-color: #2e7d39;
  }
  .icons {
    color: #FFFFFF;
  }
  .icons:nth-child(3) {
    margin-left: -3px;
  }
  
  #pageUtility {
    margin-right: 180px;
  }
}

/* Footer */
.page-footer {
    border-top: 2px solid #2e7d39;
  }
  .footerHeader {
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    /* font-size: 18px; */
    line-height: 27px;
    text-align: center;
  }
  
  .footerHeader {
    margin-top: -13px;
  }
  
  .t1 {
    font-family: "Poppins", sans-serif;
  }
  
  #contact {
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #2e7d39;
  }
  
  .btn-floating {
    font-size: 45px;
    color: #2e7d39;
  }
  
  a:not([href]) {
    color: #2e7d39;
  }
  
  .info {
    border-right: 2px solid black;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
  }
  
  .address {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  
  .subBtn {
    background-color: #2e7d39;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
    z-index: 99;
  }
  
  .footerInput {
    border-radius: 2rem;
  }